<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#sns" data-toc-modified-id="sns-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>sns</a></span></li><li><span><a href="#keras" data-toc-modified-id="keras-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>keras</a></span><ul class="toc-item"><li><span><a href="#MNIST" data-toc-modified-id="MNIST-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>MNIST</a></span></li><li><span><a href="#CIFAR10" data-toc-modified-id="CIFAR10-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>CIFAR10</a></span></li><li><span><a href="#CIFAR100" data-toc-modified-id="CIFAR100-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>CIFAR100</a></span></li><li><span><a href="#Fashion-MNIST" data-toc-modified-id="Fashion-MNIST-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Fashion MNIST</a></span></li><li><span><a href="#Boston-Housing-Price" data-toc-modified-id="Boston-Housing-Price-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>Boston Housing Price</a></span></li></ul></li><li><span><a href="#sklearn" data-toc-modified-id="sklearn-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>sklearn</a></span><ul class="toc-item"><li><span><a href="#boston-housing" data-toc-modified-id="boston-housing-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>boston housing</a></span></li><li><span><a href="#kdd99" data-toc-modified-id="kdd99-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>kdd99</a></span></li><li><span><a href="#diabetes" data-toc-modified-id="diabetes-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>diabetes</a></span></li></ul></li></ul></div>

# sns

In [50]:
import seaborn as sns

In [51]:
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'exercise',
 'flights',
 'fmri',
 'gammas',
 'geyser',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'tips',
 'titanic']

In [52]:
df=sns.load_dataset('tips')

In [54]:
df.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

# keras

In [23]:
import tensorflow as tf

In [30]:
def getKerasDataset(dataset):
    (x_train, y_train), (x_test, y_test)=tf.keras.datasets.mnist.load_data(path=dataset)
    return x_train, y_train, x_test, y_test

## MNIST

In [35]:
(x_train, y_train), (x_test, y_test)=tf.keras.datasets.mnist.load_data(path="mnist.npz")
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

(60000, 28, 28)
(60000,)
(10000, 28, 28)
(10000,)

## CIFAR10

In [34]:
(x_train, y_train), (x_test, y_test) = tf.keras.datasets.cifar10.load_data()
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

(50000, 32, 32, 3)
(50000, 1)
(10000, 32, 32, 3)
(10000, 1)

## CIFAR100

In [36]:
(x_train, y_train), (x_test, y_test) = tf.keras.datasets.cifar100.load_data(label_mode="fine")
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

Downloading data from https://www.cs.toronto.edu/~kriz/cifar-100-python.tar.gz
169009152/169001437 [==============================] - 49s 0us/step
(50000, 32, 32, 3)
(50000, 1)
(10000, 32, 32, 3)
(10000, 1)

## Fashion MNIST

In [38]:
(x_train, y_train), (x_test, y_test) = tf.keras.datasets.fashion_mnist.load_data()
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

Downloading data from https://storage.googleapis.com/tensorflow/tf-keras-datasets/train-labels-idx1-ubyte.gz
32768/29515 [=================================] - 0s 1us/step
Downloading data from https://storage.googleapis.com/tensorflow/tf-keras-datasets/train-images-idx3-ubyte.gz
26427392/26421880 [==============================] - 2s 0us/step
Downloading data from https://storage.googleapis.com/tensorflow/tf-keras-datasets/t10k-labels-idx1-ubyte.gz
8192/5148 [===============================================] - 0s 0us/step
Downloading data from https://storage.googleapis.com/tensorflow/tf-keras-datasets/t10k-images-idx3-ubyte.gz
4423680/4422102 [==============================] - 0s 0us/step
(60000, 28, 28)
(60000,)
(10000, 28, 28)
(10000,)

## Boston Housing Price

In [39]:
(x_train, y_train), (x_test, y_test) = tf.keras.datasets.boston_housing.load_data(
    path="boston_housing.npz", test_split=0.2, seed=113
)
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

(404, 13)
(404,)
(102, 13)
(102,)

# sklearn

In [2]:
from sklearn.datasets import fetch_openml

In [3]:
import sklearn

In [7]:
mnist=fetch_openml("mnist_784", version=1, return_X_y=True)

## boston housing

In [27]:
boston=sklearn.datasets.load_boston(return_X_y=False)

In [28]:
type(boston)

sklearn.utils.Bunch

In [41]:
boston.data.shape

(506, 13)

In [26]:
boston[1]

array([24. , 21.6, 34.7, 33.4, 36.2, 28.7, 22.9, 27.1, 16.5, 18.9, 15. ,
       18.9, 21.7, 20.4, 18.2, 19.9, 23.1, 17.5, 20.2, 18.2, 13.6, 19.6,
       15.2, 14.5, 15.6, 13.9, 16.6, 14.8, 18.4, 21. , 12.7, 14.5, 13.2,
       13.1, 13.5, 18.9, 20. , 21. , 24.7, 30.8, 34.9, 26.6, 25.3, 24.7,
       21.2, 19.3, 20. , 16.6, 14.4, 19.4, 19.7, 20.5, 25. , 23.4, 18.9,
       35.4, 24.7, 31.6, 23.3, 19.6, 18.7, 16. , 22.2, 25. , 33. , 23.5,
       19.4, 22. , 17.4, 20.9, 24.2, 21.7, 22.8, 23.4, 24.1, 21.4, 20. ,
       20.8, 21.2, 20.3, 28. , 23.9, 24.8, 22.9, 23.9, 26.6, 22.5, 22.2,
       23.6, 28.7, 22.6, 22. , 22.9, 25. , 20.6, 28.4, 21.4, 38.7, 43.8,
       33.2, 27.5, 26.5, 18.6, 19.3, 20.1, 19.5, 19.5, 20.4, 19.8, 19.4,
       21.7, 22.8, 18.8, 18.7, 18.5, 18.3, 21.2, 19.2, 20.4, 19.3, 22. ,
       20.3, 20.5, 17.3, 18.8, 21.4, 15.7, 16.2, 18. , 14.3, 19.2, 19.6,
       23. , 18.4, 15.6, 18.1, 17.4, 17.1, 13.3, 17.8, 14. , 14.4, 13.4,
       15.6, 11.8, 13.8, 15.6, 14.6, 17.8, 15.4, 21.5, 19.6, 15.3, 19.4,
       17. , 15.6, 13.1, 41.3, 24.3, 23.3, 27. , 50. , 50. , 50. , 22.7,
       25. , 50. , 23.8, 23.8, 22.3, 17.4, 19.1, 23.1, 23.6, 22.6, 29.4,
       23.2, 24.6, 29.9, 37.2, 39.8, 36.2, 37.9, 32.5, 26.4, 29.6, 50. ,
       32. , 29.8, 34.9, 37. , 30.5, 36.4, 31.1, 29.1, 50. , 33.3, 30.3,
       34.6, 34.9, 32.9, 24.1, 42.3, 48.5, 50. , 22.6, 24.4, 22.5, 24.4,
       20. , 21.7, 19.3, 22.4, 28.1, 23.7, 25. , 23.3, 28.7, 21.5, 23. ,
       26.7, 21.7, 27.5, 30.1, 44.8, 50. , 37.6, 31.6, 46.7, 31.5, 24.3,
       31.7, 41.7, 48.3, 29. , 24. , 25.1, 31.5, 23.7, 23.3, 22. , 20.1,
       22.2, 23.7, 17.6, 18.5, 24.3, 20.5, 24.5, 26.2, 24.4, 24.8, 29.6,
       42.8, 21.9, 20.9, 44. , 50. , 36. , 30.1, 33.8, 43.1, 48.8, 31. ,
       36.5, 22.8, 30.7, 50. , 43.5, 20.7, 21.1, 25.2, 24.4, 35.2, 32.4,
       32. , 33.2, 33.1, 29.1, 35.1, 45.4, 35.4, 46. , 50. , 32.2, 22. ,
       20.1, 23.2, 22.3, 24.8, 28.5, 37.3, 27.9, 23.9, 21.7, 28.6, 27.1,
       20.3, 22.5, 29. , 24.8, 22. , 26.4, 33.1, 36.1, 28.4, 33.4, 28.2,
       22.8, 20.3, 16.1, 22.1, 19.4, 21.6, 23.8, 16.2, 17.8, 19.8, 23.1,
       21. , 23.8, 23.1, 20.4, 18.5, 25. , 24.6, 23. , 22.2, 19.3, 22.6,
       19.8, 17.1, 19.4, 22.2, 20.7, 21.1, 19.5, 18.5, 20.6, 19. , 18.7,
       32.7, 16.5, 23.9, 31.2, 17.5, 17.2, 23.1, 24.5, 26.6, 22.9, 24.1,
       18.6, 30.1, 18.2, 20.6, 17.8, 21.7, 22.7, 22.6, 25. , 19.9, 20.8,
       16.8, 21.9, 27.5, 21.9, 23.1, 50. , 50. , 50. , 50. , 50. , 13.8,
       13.8, 15. , 13.9, 13.3, 13.1, 10.2, 10.4, 10.9, 11.3, 12.3,  8.8,
        7.2, 10.5,  7.4, 10.2, 11.5, 15.1, 23.2,  9.7, 13.8, 12.7, 13.1,
       12.5,  8.5,  5. ,  6.3,  5.6,  7.2, 12.1,  8.3,  8.5,  5. , 11.9,
       27.9, 17.2, 27.5, 15. , 17.2, 17.9, 16.3,  7. ,  7.2,  7.5, 10.4,
        8.8,  8.4, 16.7, 14.2, 20.8, 13.4, 11.7,  8.3, 10.2, 10.9, 11. ,
        9.5, 14.5, 14.1, 16.1, 14.3, 11.7, 13.4,  9.6,  8.7,  8.4, 12.8,
       10.5, 17.1, 18.4, 15.4, 10.8, 11.8, 14.9, 12.6, 14.1, 13. , 13.4,
       15.2, 16.1, 17.8, 14.9, 14.1, 12.7, 13.5, 14.9, 20. , 16.4, 17.7,
       19.5, 20.2, 21.4, 19.9, 19. , 19.1, 19.1, 20.1, 19.9, 19.6, 23.2,
       29.8, 13.8, 13.3, 16.7, 12. , 14.6, 21.4, 23. , 23.7, 25. , 21.8,
       20.6, 21.2, 19.1, 20.6, 15.2,  7. ,  8.1, 13.6, 20.1, 21.8, 24.5,
       23.1, 19.7, 18.3, 21.2, 17.5, 16.8, 22.4, 20.6, 23.9, 22. , 11.9])

In [30]:
boston.feature_names

array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7')

In [36]:
boston.DESCR.split("\n")

['.. _boston_dataset:',
 '',
 'Boston house prices dataset',
 '---------------------------',
 '',
 '**Data Set Characteristics:**  ',
 '',
 '    :Number of Instances: 506 ',
 '',
 '    :Number of Attributes: 13 numeric/categorical predictive. Median Value (attribute 14) is usually the target.',
 '',
 '    :Attribute Information (in order):',
 '        - CRIM     per capita crime rate by town',
 '        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.',
 '        - INDUS    proportion of non-retail business acres per town',
 '        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)',
 '        - NOX      nitric oxides concentration (parts per 10 million)',
 '        - RM       average number of rooms per dwelling',
 '        - AGE      proportion of owner-occupied units built prior to 1940',
 '        - DIS      weighted distances to five Boston employment centres',
 '        - RAD      index of accessibility to radial highways',
 '        - TAX      full-value property-tax rate per $10,000',
 '        - PTRATIO  pupil-teacher ratio by town',
 '        - B        1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town',
 '        - LSTAT    % lower status of the population',
 "        - MEDV     Median value of owner-occupied homes in $1000's",
 '',
 '    :Missing Attribute Values: None',
 '',
 '    :Creator: Harrison, D. and Rubinfeld, D.L.',
 '',
 'This is a copy of UCI ML housing dataset.',
 'https://archive.ics.uci.edu/ml/machine-learning-databases/housing/',
 '',
 '',
 'This dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.',
 '',
 "The Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic",
 "prices and the demand for clean air', J. Environ. Economics & Management,",
 "vol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics",
 "...', Wiley, 1980.   N.B. Various transformations are used in the table on",
 'pages 244-261 of the latter.',
 '',
 'The Boston house-price data has been used in many machine learning papers that address regression',
 'problems.   ',
 '     ',
 '.. topic:: References',
 '',
 "   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.",
 '   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.',
 '']

## kdd99

In [38]:
kdd99=sklearn.datasets.fetch_kddcup99()

In [40]:
kdd99.DESCR.splitlines()

['.. _kddcup99_dataset:',
 '',
 'Kddcup 99 dataset',
 '-----------------',
 '',
 "The KDD Cup '99 dataset was created by processing the tcpdump portions",
 'of the 1998 DARPA Intrusion Detection System (IDS) Evaluation dataset,',
 "created by MIT Lincoln Lab [2]_. The artificial data (described on the `dataset's",
 'homepage <https://kdd.ics.uci.edu/databases/kddcup99/kddcup99.html>`_) was',
 'generated using a closed network and hand-injected attacks to produce a',
 'large number of different types of attack with normal activity in the',
 'background. As the initial goal was to produce a large training set for',
 'supervised learning algorithms, there is a large proportion (80.1%) of',
 'abnormal data which is unrealistic in real world, and inappropriate for',
 "unsupervised anomaly detection which aims at detecting 'abnormal' data, i.e.:",
 '',
 '* qualitatively different from normal data',
 '* in large minority among the observations.',
 '',
 'We thus transform the KDD Data set into two different data sets: SA and SF.',
 '',
 '* SA is obtained by simply selecting all the normal data, and a small',
 '  proportion of abnormal data to gives an anomaly proportion of 1%.',
 '',
 '* SF is obtained as in [3]_',
 '  by simply picking up the data whose attribute logged_in is positive, thus',
 '  focusing on the intrusion attack, which gives a proportion of 0.3% of',
 '  attack.',
 '',
 '* http and smtp are two subsets of SF corresponding with third feature',
 "  equal to 'http' (resp. to 'smtp').",
 '',
 'General KDD structure :',
 '',
 '    ================      ==========================================',
 '    Samples total         4898431',
 '    Dimensionality        41',
 '    Features              discrete (int) or continuous (float)',
 "    Targets               str, 'normal.' or name of the anomaly type",
 '    ================      ==========================================',
 '',
 '    SA structure :',
 '',
 '    ================      ==========================================',
 '    Samples total         976158',
 '    Dimensionality        41',
 '    Features              discrete (int) or continuous (float)',
 "    Targets               str, 'normal.' or name of the anomaly type",
 '    ================      ==========================================',
 '',
 '    SF structure :',
 '',
 '    ================      ==========================================',
 '    Samples total         699691',
 '    Dimensionality        4',
 '    Features              discrete (int) or continuous (float)',
 "    Targets               str, 'normal.' or name of the anomaly type",
 '    ================      ==========================================',
 '',
 '    http structure :',
 '',
 '    ================      ==========================================',
 '    Samples total         619052',
 '    Dimensionality        3',
 '    Features              discrete (int) or continuous (float)',
 "    Targets               str, 'normal.' or name of the anomaly type",
 '    ================      ==========================================',
 '',
 '    smtp structure :',
 '',
 '    ================      ==========================================',
 '    Samples total         95373',
 '    Dimensionality        3',
 '    Features              discrete (int) or continuous (float)',
 "    Targets               str, 'normal.' or name of the anomaly type",
 '    ================      ==========================================',
 '',
 ':func:`sklearn.datasets.fetch_kddcup99` will load the kddcup99 dataset; it',
 'returns a dictionary-like object with the feature matrix in the ``data`` member',
 'and the target values in ``target``. The "as_frame" optional argument converts',
 '``data`` into a pandas DataFrame and ``target`` into a pandas Series. The',
 'dataset will be downloaded from the web if necessary.',
 '',
 '.. topic:: References',
 '',
 '    .. [2] Analysis and Results of the 1999 DARPA Off-Line Intrusion',
 '           Detection Evaluation, Richard Lippmann, Joshua W. Haines,',
 '           David J. Fried, Jonathan Korba, Kumar Das.',
 '',
 '    .. [3] K. Yamanishi, J.-I. Takeuchi, G. Williams, and P. Milne. Online',
 '           unsupervised outlier detection using finite mixtures with',
 '           discounting learning algorithms. In Proceedings of the sixth',
 '           ACM SIGKDD international conference on Knowledge discovery',
 '           and data mining, pages 320-324. ACM Press, 2000.']

In [42]:
kdd99.feature_names

['duration',
 'protocol_type',
 'service',
 'flag',
 'src_bytes',
 'dst_bytes',
 'land',
 'wrong_fragment',
 'urgent',
 'hot',
 'num_failed_logins',
 'logged_in',
 'num_compromised',
 'root_shell',
 'su_attempted',
 'num_root',
 'num_file_creations',
 'num_shells',
 'num_access_files',
 'num_outbound_cmds',
 'is_host_login',
 'is_guest_login',
 'count',
 'srv_count',
 'serror_rate',
 'srv_serror_rate',
 'rerror_rate',
 'srv_rerror_rate',
 'same_srv_rate',
 'diff_srv_rate',
 'srv_diff_host_rate',
 'dst_host_count',
 'dst_host_srv_count',
 'dst_host_same_srv_rate',
 'dst_host_diff_srv_rate',
 'dst_host_same_src_port_rate',
 'dst_host_srv_diff_host_rate',
 'dst_host_serror_rate',
 'dst_host_srv_serror_rate',
 'dst_host_rerror_rate',
 'dst_host_srv_rerror_rate']

In [46]:
kdd99.target

array([b'normal.', b'normal.', b'normal.', ..., b'normal.', b'normal.',
       b'normal.'], dtype=object)

In [47]:
kdd99.data

array([[0, b'tcp', b'http', ..., 0.0, 0.0, 0.0],
       [0, b'tcp', b'http', ..., 0.0, 0.0, 0.0],
       [0, b'tcp', b'http', ..., 0.0, 0.0, 0.0],
       ...,
       [0, b'tcp', b'http', ..., 0.01, 0.0, 0.0],
       [0, b'tcp', b'http', ..., 0.01, 0.0, 0.0],
       [0, b'tcp', b'http', ..., 0.01, 0.0, 0.0]], dtype=object)

In [49]:
kdd99.data

array([[0, b'tcp', b'http', ..., 0.0, 0.0, 0.0],
       [0, b'tcp', b'http', ..., 0.0, 0.0, 0.0],
       [0, b'tcp', b'http', ..., 0.0, 0.0, 0.0],
       ...,
       [0, b'tcp', b'http', ..., 0.01, 0.0, 0.0],
       [0, b'tcp', b'http', ..., 0.01, 0.0, 0.0],
       [0, b'tcp', b'http', ..., 0.01, 0.0, 0.0]], dtype=object)

## diabetes

In [65]:
X, y=sklearn.datasets.load_diabetes(return_X_y=True)
import pandas as pd
df_X=pd.DataFrame(X)

In [66]:
df_X.describe()

,0,1,2,3,4,5,6,7,8,9
count,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02
mean,-3.634285e-16,1.308343e-16,-8.045349e-16,1.281655e-16,-8.835316e-17,1.327024e-16,-4.574646e-16,3.777301e-16,-3.830854e-16,-3.412882e-16
std,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02
min,-1.072256e-01,-4.464164e-02,-9.027530e-02,-1.123996e-01,-1.267807e-01,-1.156131e-01,-1.023071e-01,-7.639450e-02,-1.260974e-01,-1.377672e-01
25%,-3.729927e-02,-4.464164e-02,-3.422907e-02,-3.665645e-02,-3.424784e-02,-3.035840e-02,-3.511716e-02,-3.949338e-02,-3.324879e-02,-3.317903e-02
50%,5.383060e-03,-4.464164e-02,-7.283766e-03,-5.670611e-03,-4.320866e-03,-3.819065e-03,-6.584468e-03,-2.592262e-03,-1.947634e-03,-1.077698e-03
75%,3.807591e-02,5.068012e-02,3.124802e-02,3.564384e-02,2.835801e-02,2.984439e-02,2.931150e-02,3.430886e-02,3.243323e-02,2.791705e-02
max,1.107267e-01,5.068012e-02,1.705552e-01,1.320442e-01,1.539137e-01,1.987880e-01,1.811791e-01,1.852344e-01,1.335990e-01,1.356118e-01

In [67]:
df_y=pd.DataFrame(y)

In [68]:
df_y.describe()

                0
count  442.000000
mean   152.133484
std     77.093005
min     25.000000
25%     87.000000
50%    140.500000
75%    211.500000
max    346.000000

In [5]:
wine_quality=sklearn.datasets.load_wine()

In [6]:
type(wine_quality)

sklearn.utils.Bunch

In [8]:
wine_quality.DESCR.splitlines()

['.. _wine_dataset:',
 '',
 'Wine recognition dataset',
 '------------------------',
 '',
 '**Data Set Characteristics:**',
 '',
 '    :Number of Instances: 178 (50 in each of three classes)',
 '    :Number of Attributes: 13 numeric, predictive attributes and the class',
 '    :Attribute Information:',
 ' \t\t- Alcohol',
 ' \t\t- Malic acid',
 ' \t\t- Ash',
 '\t\t- Alcalinity of ash  ',
 ' \t\t- Magnesium',
 '\t\t- Total phenols',
 ' \t\t- Flavanoids',
 ' \t\t- Nonflavanoid phenols',
 ' \t\t- Proanthocyanins',
 '\t\t- Color intensity',
 ' \t\t- Hue',
 ' \t\t- OD280/OD315 of diluted wines',
 ' \t\t- Proline',
 '',
 '    - class:',
 '            - class_0',
 '            - class_1',
 '            - class_2',
 '\t\t',
 '    :Summary Statistics:',
 '    ',
 '    ============================= ==== ===== ======= =====',
 '                                   Min   Max   Mean     SD',
 '    ============================= ==== ===== ======= =====',
 '    Alcohol:                      11.0  14.8    13.0   0.8',
 '    Malic Acid:                   0.74  5.80    2.34  1.12',
 '    Ash:                          1.36  3.23    2.36  0.27',
 '    Alcalinity of Ash:            10.6  30.0    19.5   3.3',
 '    Magnesium:                    70.0 162.0    99.7  14.3',
 '    Total Phenols:                0.98  3.88    2.29  0.63',
 '    Flavanoids:                   0.34  5.08    2.03  1.00',
 '    Nonflavanoid Phenols:         0.13  0.66    0.36  0.12',
 '    Proanthocyanins:              0.41  3.58    1.59  0.57',
 '    Colour Intensity:              1.3  13.0     5.1   2.3',
 '    Hue:                          0.48  1.71    0.96  0.23',
 '    OD280/OD315 of diluted wines: 1.27  4.00    2.61  0.71',
 '    Proline:                       278  1680     746   315',
 '    ============================= ==== ===== ======= =====',
 '',
 '    :Missing Attribute Values: None',
 '    :Class Distribution: class_0 (59), class_1 (71), class_2 (48)',
 '    :Creator: R.A. Fisher',
 '    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)',
 '    :Date: July, 1988',
 '',
 'This is a copy of UCI ML Wine recognition datasets.',
 'https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data',
 '',
 'The data is the results of a chemical analysis of wines grown in the same',
 'region in Italy by three different cultivators. There are thirteen different',
 'measurements taken for different constituents found in the three types of',
 'wine.',
 '',
 'Original Owners: ',
 '',
 'Forina, M. et al, PARVUS - ',
 'An Extendible Package for Data Exploration, Classification and Correlation. ',
 'Institute of Pharmaceutical and Food Analysis and Technologies,',
 'Via Brigata Salerno, 16147 Genoa, Italy.',
 '',
 'Citation:',
 '',
 'Lichman, M. (2013). UCI Machine Learning Repository',
 '[https://archive.ics.uci.edu/ml]. Irvine, CA: University of California,',
 'School of Information and Computer Science. ',
 '',
 '.. topic:: References',
 '',
 '  (1) S. Aeberhard, D. Coomans and O. de Vel, ',
 '  Comparison of Classifiers in High Dimensional Settings, ',
 '  Tech. Rep. no. 92-02, (1992), Dept. of Computer Science and Dept. of  ',
 '  Mathematics and Statistics, James Cook University of North Queensland. ',
 '  (Also submitted to Technometrics). ',
 '',
 '  The data was used with many others for comparing various ',
 '  classifiers. The classes are separable, though only RDA ',
 '  has achieved 100% correct classification. ',
 '  (RDA : 100%, QDA 99.4%, LDA 98.9%, 1NN 96.1% (z-transformed data)) ',
 '  (All results using the leave-one-out technique) ',
 '',
 '  (2) S. Aeberhard, D. Coomans and O. de Vel, ',
 '  "THE CLASSIFICATION PERFORMANCE OF RDA" ',
 '  Tech. Rep. no. 92-01, (1992), Dept. of Computer Science and Dept. of ',
 '  Mathematics and Statistics, James Cook University of North Queensland. ',
 '  (Also submitted to Journal of Chemometrics).']

In [10]:
wine_quality.feature_names

['alcohol',
 'malic_acid',
 'ash',
 'alcalinity_of_ash',
 'magnesium',
 'total_phenols',
 'flavanoids',
 'nonflavanoid_phenols',
 'proanthocyanins',
 'color_intensity',
 'hue',
 'od280/od315_of_diluted_wines',
 'proline']

In [11]:
wine_quality.target_names

array(['class_0', 'class_1', 'class_2'], dtype='<U7')

In [17]:
data=wine_quality.data

In [24]:
type(data)

numpy.ndarray

In [20]:
data[:5]

array([[1.423e+01, 1.710e+00, 2.430e+00, 1.560e+01, 1.270e+02, 2.800e+00,
        3.060e+00, 2.800e-01, 2.290e+00, 5.640e+00, 1.040e+00, 3.920e+00,
        1.065e+03],
       [1.320e+01, 1.780e+00, 2.140e+00, 1.120e+01, 1.000e+02, 2.650e+00,
        2.760e+00, 2.600e-01, 1.280e+00, 4.380e+00, 1.050e+00, 3.400e+00,
        1.050e+03],
       [1.316e+01, 2.360e+00, 2.670e+00, 1.860e+01, 1.010e+02, 2.800e+00,
        3.240e+00, 3.000e-01, 2.810e+00, 5.680e+00, 1.030e+00, 3.170e+00,
        1.185e+03],
       [1.437e+01, 1.950e+00, 2.500e+00, 1.680e+01, 1.130e+02, 3.850e+00,
        3.490e+00, 2.400e-01, 2.180e+00, 7.800e+00, 8.600e-01, 3.450e+00,
        1.480e+03],
       [1.324e+01, 2.590e+00, 2.870e+00, 2.100e+01, 1.180e+02, 2.800e+00,
        2.690e+00, 3.900e-01, 1.820e+00, 4.320e+00, 1.040e+00, 2.930e+00,
        7.350e+02]])

In [14]:
import numpy as np

In [25]:
np.set_printoptions(formatter={'float': '{:0.2f}'.format})

In [26]:
data[:5]

array([[14.23, 1.71, 2.43, 15.60, 127.00, 2.80, 3.06, 0.28, 2.29, 5.64,
        1.04, 3.92, 1065.00],
       [13.20, 1.78, 2.14, 11.20, 100.00, 2.65, 2.76, 0.26, 1.28, 4.38,
        1.05, 3.40, 1050.00],
       [13.16, 2.36, 2.67, 18.60, 101.00, 2.80, 3.24, 0.30, 2.81, 5.68,
        1.03, 3.17, 1185.00],
       [14.37, 1.95, 2.50, 16.80, 113.00, 3.85, 3.49, 0.24, 2.18, 7.80,
        0.86, 3.45, 1480.00],
       [13.24, 2.59, 2.87, 21.00, 118.00, 2.80, 2.69, 0.39, 1.82, 4.32,
        1.04, 2.93, 735.00]])

In [27]:
target=wine_quality.target

In [28]:
type(target)

numpy.ndarray

In [30]:
target

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2])

In [31]:
target.shape

(178,)